.table{
	padding: 30px;
	text-align: right;
	padding-left: 100px;
}

.heading{
	text-align: center;
	color: green;
	font-weight: bold;
	font-size: 150%;
}

.subheading{
	text-align: center;
	color: green;
}

.category_table{
	vertical-align: right;
}

.new_category_form{
	vertical-align: left;
}

