.table{
	padding: 30px;
	text-align: right;
	padding-left: 100px;
	width: 900px;
}

.heading{
	text-align: center;
	color: green;
	font-weight: bold;
	font-size: 150%;
}

.topright img{
	vertical-align: top;
	horizontal-align: right;
}

.subheading{
	text-align: center;
	color: green;
}

.category_table{
	vertical-align: right;
}

.new_category_form{
	vertical-align: left;
}

.new_form_table{
	width: 10px;
}

.back_link{
	color: black;
	text-decoration: none;
}
