<div class = "heading">Manage Categories</div>
<div class = "subheading">Click on any category to view its items</div>
<br/>

<%= link_to "Add Category" , '#'%>
<br/>
<br/>
<table class = "table">
	<% $i=0 %>
	<% @category.each do |category| %>
		<% if $i%3 == 0 %>
  	<tr>
		<% end %>
			<td>
				<%= image_tag "category.png", :alt => " ", :class => "round", :height => "50%", :width => "50%" %>
				<br/>
				<%= category.name %>
				<br/>
				<%= category.description %>
	
			</td>
		<% $i+=1 %>
		<% if $i%3 == 0 %>
  	</tr>
		<% end %>
	<% end %>
	
</table>

<br/>


