<div class = "heading">Manage Categories</div>
<div class = "subheading">Click on any category to view its items</div>
<br/>
<table>
	<tr>
		<td>
			<%= render 'new' %>
		</td>
		<td>
			<%= render 'showall' %>
		</td>
	</tr>
</table>




<br/>
<br/>


<br/>


